
@{ 
    ViewBag.Title = "Chính sách bảo mật";
}

<div class="container">
    <h1>Chính sách bảo mật</h1>
    <p>Điều 1. Mục đích thu thập thông tin</p>
    <p>Việc thu thập dữ liệu website CLB Gà Choi C3 bao gồm: Họ tên, số điện thoại, địa chỉ, email... nhằm phục vụ mục đích hỗ trợ tư vấn và chăm sóc khách hàng của CLB Gà Choi C3 liên hệ với khách hàng để hướng dẫn quy trình chăm sóc gà, quyên góp hoặc hỗ trợ khách hàng.</p>
    <p>Điều 2. Phạm vi sử dụng thông tin</p>
    <p>Website CLB Gà Choi C3 sử dụng thông tin Quy khách cung cấp để:</p>
    <ul>
        <li>Đặt hàng, giao dịch sản phẩm.</li>
        <li>Liên hệ tư vấn, chăm sóc, giải đáp thắc mắc liên quan đến dịch vụ của khách hàng.</li>
        <li>Cung cấp thông tin về các chương trình khuyến mãi, dịch vụ mới của CLB Gà Choi C3.</li>
    </ul>
    <p>Hỗ trợ khách hàng sử dụng dịch vụ của CLB qua email hoặc thông tin liên hệ đã cung cấp, hỗ trợ khách hàng khiếu nại, khiếu kiện về sản phẩm và dịch vụ của CLB Gà Choi C3.</p>
    <p>Điều 3. Thời gian lưu trữ thông tin</p>
    <p>Thông tin khách hàng sẽ được lưu trữ trong vòng 5 năm kể từ ngày khách hàng đăng ký sử dụng dịch vụ tại CLB Gà Choi C3, số điện thoại: <a href="tel:+84335501179" class="tel-link">033.550.1179</a></p>
    <p>Các thông tin không liên quan sẽ được xóa sau mỗi lần truy cập website của CLB Gà Choi C3.</p>
    <p>Điều 4. Những nguyên tắc bảo mật thông tin</p>
    <p>CLB Gà Choi C3 cam kết bảo mật thông tin khách hàng, không tiết lộ thông tin của khách hàng cho bất kỳ bên thứ ba nào trừ khi có sự đồng ý của khách hàng.</p>


</div>
